@import "../ABSTRACTS/methods";
@import "../ABSTRACTS/variables";
@import "../ABSTRACTS/fonts";

.card {

    #{&}-submit-button {

        text-decoration: none;
        text-align: center;
        padding-top: 4px;

        @include size (100% , 25px);

        @include border-radius (5px);

        @include change-color ($submit-button-background-color , background);

        @include roboto-mono ();
    }
}