@mixin change-color ($color: white, $type: text) {
    @if $type==text {
        color: $color;
    }

    @else {
        background-color: $color;
    }
}

@mixin size ($width: 100% , $height: 100%) {
    width: $width;
    height: $height;
}

@mixin flex ($direction: row , $horizontal: center , $vertical: center , $column-gap: 0px , $row-gap: 0px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $horizontal;
    align-items: $vertical;
    column-gap: $column-gap;
    row-gap: $row-gap;
}

@mixin border-test ($type:small) {
    @if $type == small {
        border-style: solid;
        border-width: 2px;
        border-color: red;
    } @else if $type == large {
        border-style: solid;
        border-width: 7px;
        border-color: red;
    } @else {
        @error "value is not considered";
    }
}

@mixin border-radius ($radius) {
    border-radius: $radius;
}