$header-color: black;

$heading-text-color: white;

$content-margin-top: 50px;

$line-seperator-color: white;

$card-add-background-color: #357EC7;

$card-show-content-color: black;

$card-show-background-color: white;

$anchor-delete-background-color: red;

$submit-button-background-color: lawngreen;

// $text-color: ("red": red, "blue": blue, "green": green);

// @function mapValue ($value-color) {
//     @return map.get($text-color, $value-color);
// }