$header-color: black;

$heading-text-color: white;

$content-margin-top: 50px;



// $text-color: ("red": red, "blue": blue, "green": green);

// @function mapValue ($value-color) {
//     @return map.get($text-color, $value-color);
// }